<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Enlace al archivo CSS de Bootstrap (puedes cambiar la URL según tu configuración) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Bienvenido a mi sitio</h1>
        <p>Esta es la página de inicio. Aquí puedes agregar tu contenido personalizado.</p>
        <a href="{% url 'lista_eventos' %}" class="btn btn-primary">Ver Eventos</a>
    </div>

    <!-- Scripts de Bootstrap (puedes cambiar las URLs según tu configuración) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
